@import '../../../../index.css';
.world
{
  background-color: var(--background);
  transition: .4s ease-in-out;
}
.lastnews-section {
  display: flex;
  flex-direction: column;
}
.lastnews-section .lastnews-header {
  width: 100%;
  padding-bottom: 2rem;
}
.lastnews-section .lastnews-header .sec-indentifier {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.lastnews-section .lastnews-header .separator
{
    width: 100;
    height: 4px;
    background-color: var(--MC-Mandalay);
}
