.footer {
  display: flex;
  padding: 0 4rem;
  padding-top: 4rem;
  margin-top: 3.5rem;
  flex-direction: column;
  clear: both;
  background-color: var(--footer-color);
}
.footer .footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer .footer-contacts span {
  display: flex;
  align-items: center;
  color: white;
  padding: 0 1rem;
  padding-bottom: 1rem;
  font-size: 0.8rem;
}
.footer .footer-contacts span img {
  width: 2rem;
  color: white;
  margin-right: 0.5rem;
}
.footer .footer-contacts .social-midias {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-contacts .social-midias div {
  margin: 0 1rem;
}
.footer .footer-contacts .social-midias div img {
  width: 2rem;
  margin-right: 1rem;
}

.footer p {
  color: white;
  padding: 2rem 0;
  padding-top: 4rem;
  font-size: 0.9rem;
  text-align: center;
}
.footer p b {
  color: white;
}
