.button
{
    border: none;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 7px;
    padding: 0.5rem 1rem;
    font-family: Poppins-Medium;
    transition: .4s ease-in-out;
    background-color: var(--MC-Mandalay);
}
.button:hover
{
    filter: brightness(0.9);
}