.shortcard-article {
  flex: 1 24rem;
  margin: 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--border);
}
.shortcard-article .shortcard-header {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
  background-color: var(--second-color);
  justify-content: space-between;
}
.shortcard-article .shortcard-header a {
  font-family: Poppins-Medium;
}
.shortcard-article .shortcard-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.shortcard-article .shortcard-body .shortcard {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0rem 0;
}
.shortcard-article .shortcard-body .shortcard .image {
  width: 90px;
  height: 70px;
  display: flex;
  flex: none;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.shortcard-article .shortcard-body .shortcard .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  object-position: center;
}
.shortcard-article .shortcard-body .shortcard .content {
  padding: 0rem 1rem;
}
.shortcard-article .shortcard-body .shortcard .content span {
  font-size: 0.8rem;
}
.shortcard-article .shortcard-body .shortcard .content span:hover {
  cursor: pointer;
  text-decoration: underline 1px solid;
}
