.login {
  display: flex;
}
.login aside {
  width: 37%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-color);
}
.login aside img {
  width: 12rem;
}
.login .main-form {
  width: 63%;
  display: flex;
  justify-content: center;
}
.login .main-form .form-area {
  width: 30rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login .main-form .form-area h2 {
  position: relative;
  font-family: Poppins-Medium;
}
.login .main-form .form-area h2::after {
  content: "";
  bottom: -0.5rem;
  border-radius: 7px;
  left: 0.3rem;
  position: absolute;
  width: 60px;
  height: 5px;
  background-color: var(--MC-Mandalay);
}
.login .main-form .form-area form {
  width: 100%;
  display: flex;
  padding: 3rem 2rem;
  margin: 2rem 0;
  border-radius: 7px;
  flex-direction: column;
}
.login .main-form .form-area form input {
  width: 100%;
  border: 2px var(--border-input) solid;
  padding: 0.7rem;
  margin: 0.5rem 0;
  border-radius: 7px;
  background-color: var(--input-color);
}
.login .main-form .form-area button {
  border: none;
  background-color: var(--MC-Mandalay);
  color: white;
  padding: 0.7rem;
  margin-top: 1rem;
}
.login .main-form .form-area form span {
  padding: 1rem 0;
  font-size: 0.9rem;
  color: var(--text-color);
  text-align: center;
}
.login .main-form .form-area form span a {
  font-family: Poppins-Medium;
}

@media screen and (max-width: 820px) {
  .login {
    flex-direction: column;
  }
  .login aside {
    width: 100%;
    height: 5rem;
  }
  .login aside img {
    width: 5rem;
  }
  .login .main-form {
    width: 100%;
    padding: 0 1rem;
    height: calc(100vh - 5rem);
  }
}
