@import "../../../index.css";

.header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.4s ease-out;
  background-color: var(--background);
}
.logo img {
  width: 80%;
}
.top_header {
  width: 100%;
  display: flex;
  padding: 0.5rem 4rem;
  align-items: center;
  justify-content: space-between;
}
.header .header_categories {
  transition: 0.4s ease-in-out;
  width: 100%;
}
.header .header_categories nav {
  width: 100%;
  display: flex;
  padding: 1rem 3rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--MC-Mandalay);
}
.header .header_categories nav ul {
  display: inline-flex;
}
.header .header_categories nav ul li {
  padding: 0 1rem;
}
.header .header_categories nav ul li a {
  color: white;
  font-size: 0.9rem;
}
.header .header_categories nav button {
  display: flex;
  width: 30px;
  padding: 0.5rem;
  height: 30px;
  justify-content: center;
  align-items: center;
  background: none;
  border-radius: 50%;
  border: 2px #fff solid;
  margin-right: 1rem;
  transition: 0.4s;
}
.header .header_categories nav button:hover {
  cursor: pointer;
}
.header .header_categories nav button img {
  width: 1rem;
  transition: 0.4s;
}
.contacts {
  display: flex;
  align-items: center;
}
.contacts span {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-size: 0.8rem;
  font-weight: 700;
}

.contacts span img {
  width: 2rem;
  margin-right: 0.5rem;
}

.sign a {
  color: white;
  font-size: 0.8rem;
  border-radius: 7px;
  padding: 0.5rem 1rem;
  background-color: var(--MC-Mandalay);
}

@media screen and (max-width: 820px) {
  .contacts {
    display: none;
  }
  .top_header {
    padding: 0.5rem 2rem;
    margin-top: 70px;
    border-bottom: 1px var(--border) solid;
  }
  .header .header_categories
  {
    position: fixed;
  }
  .header .header_categories nav ul {
    top: 0;
    left: 0;
    width: 60%;
    height: 100vh;
    display: block;
    position: absolute;
    overflow-y: hidden;
    background-color: white;
    transition: 0.4s ease-in-out;
    transform: translateX(-110%);
    box-shadow: 0px 0px 12px #00000025;
  }
  .header .header_categories nav ul li {
    padding: 0.3rem 1rem;
  }
  .header .header_categories nav ul li a {
    color: #333;
  }
  .header .header_categories nav button {
    margin-right: 3rem;
  }
  .header .header_categories nav ul.appear {
    transform: translateX(0);
  }
  .header .header_categories .nav-options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .header_categories .nav-options .nav-toggle {
    width: 27px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
  }
  .header .header_categories .nav-options .nav-toggle .bar {
    width: 100%;
    height: 2px;
    margin: 0.2rem 0;
    border-radius: 10px;
    background-color: white;
  }
}
