.comment {
  flex: 1;
  padding: 1rem;
  min-width: 20rem;
  display: flex;
  margin: 1rem 0;
  max-width: 35rem;
  border-radius: 10px;
  flex-direction: column;
  background-color: var(--input-color);
  box-shadow: 0px 0px 12px var(--box-shadow);
}
.comment .comment-head .visitor-datas {
  display: flex;
  position: relative;
  align-items: center;
}
.comment .comment-head .visitor-datas::after {
  content: "";
  left: 0;
  bottom: -0.5rem;
  width: 100%;
  height: 1px;
  background-color: var(--border);
  position: absolute;
}
.comment .comment-head .visitor-datas .visitor-image {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
}
.comment .comment-head .visitor-datas .visitor-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}
.comment .comment-head .visitor-datas .visitor-data {
  display: flex;
  padding: 0 0.5rem;
  flex-direction: column;
}
.comment .comment-head .visitor-datas .visitor-data span {
  font-family: Poppins-Bold;
  font-size: 0.9rem;
}
.comment .comment-head .visitor-datas .visitor-data small {
  font-size: 0.8rem;
  color: var(--font-color2);
}
.comment .comment-body
{
    padding: 1rem 0;
}
.comment .comment-body p
{
    font-size: 0.9rem;
}