.article-card {
  flex: none; 
  flex: 1 17.5rem;
  flex-wrap: wrap;
  border-radius: 7px;
  margin: 10px;
  background-color: var(--background);
  border: 1px solid var(--border);
}
.article-card .image {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  background-color: #dddddd;
  border-radius: 10px 10px 0px 0px;
}
.article-card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 0px 0px;
}
.article-card .card-body {
  padding: 1rem;
  padding-bottom: 0rem;
}
.article-card .card-body h3 {
  font-size: 1rem;
  font-family: Poppins-Bold;
}
.article-card .card-body h3 a{
  font-family: Poppins-Bold;
}
.article-card .card-body h3:hover {
  cursor: pointer;
  text-decoration: underline 2px solid;
}
.article-card .card-footer {
  padding: 0 1rem;
  padding-bottom: 0.5rem;
}
.article-card .card-footer span {
  font-size: 0.7rem;
  color: var(--font-color2);
}
